@import "~bootstrap/scss/bootstrap";

.sort_link {
  background-color: transparent !important;
  color: #333 !important;
}

.sort_link:hover {
  background-color: transparent !important;
  color: #333;
}