




<div class="container">
    <div class="jumbotron">
        <h1>CRYPTO_WALLET</h1>
        <br>
        <p class="lead">Este é o Crypto Wallet, uma app para você cadastrar e acompanhar as suas criptomoedas.</p>
        <hr class="my-4">
        <%= render "menu" %>
    </div>
</div>